html {
    box-sizing: border-box;
}

* {
    text-align: center;
        font-family: 'Tektur', sans-serif;
}

body, .site-wrapper {
    margin: none;
}

/* Visibility */
html {
    background-color: black;
    color: greenyellow;
}

.pop-up,
.view-finder-container,
.map-container,
.arrow-controls-container,
.message-board {
    border: solid 2px white;
    background-color: black;
    margin: 4px;
}

/* Layout */
header {
    display: flex;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
}

.view-finder-container {
    grid-column: 1/4;
    grid-row: 1/4;
}

.controls-container {
    grid-column: 1/5;
    grid-row: 3/4;
    align-items: end;
}

.direction-controls-container {
    grid-column: 1/4;
    grid-row: 4/5;
}

.arrow-controls-container {
    grid-column: 4/5;
    grid-row: 2/5;
}

.message-board {
    grid-column: 1/5;
    grid-row: 5/6;
}

.arrow-unit {
    display: inline-block;
}

button {
    width: 15vw;
    padding: 1rem;
    background-color: transparent;
    border-color: green;
    color: greenyellow;

}

/* Screen Behavior */
.header-navigation,
.instructions-screen,
.game-board-screen,
.event-screen,
.game-end-screen,
.shoot-arrow-btn {
    display: none;
}

.game-container {
    position: relative;
}

.pop-up {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}