* {
    text-align: center;
}

/* Visibility */
html {
    background-color: black;
    color: greenyellow;
}

div, section {
    padding: 4px;
    margin: 4px;
}

.pop-up,
.view-finder-container,
.map-container,
.arrow-controls-container,
.message-board {
    border: solid 2px white;
}

/* Layout */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
}

.view-finder-container {
    grid-column: 1/4;
    grid-row: 1/4;
}

.controls-container {
    grid-column: 1/5;
    grid-row: 3/4;
    align-items: end;
}

.direction-controls-container {
    grid-column: 1/4;
    grid-row: 4/5;
}

.arrow-controls-container {
    grid-column: 4/5;
    grid-row: 2/5;
}

.message-board {
    grid-column: 1/5;
    grid-row: 5/6;
}

.arrow-unit {
    display: inline-block;
}

button {
    width: 15vw;
    padding: 1rem;
    background-color: transparent;
    border-color: green;
    color: greenyellow;

}