html {
    box-sizing: border-box;
    padding: 0;
        height: 100vh;
            width: 100vw;
}

* {
    text-align: center;
    font-family: 'Tektur', sans-serif;
}

body, .site-wrapper {
    margin: 0;
}

/* Visibility */
html {
    background-color: black;
    color: greenyellow;
}

.pop-up,
.view-finder-container,
.map-container,
.player-action-container{
    border: solid 2px white;
    background-color: black;
    margin: 4px;
}

/* Layout */
header {
    display: flex;
    justify-content: space-between;
}

.game-board-container {
    max-height: 80vh;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.map-container {
    grid-row: 1/2;
    height: fit-content;
}

.view-finder-container {
    grid-column: 2/4;
    grid-row: 1/4;
    position: relative;
}

.direction-controls-container {
    grid-column: 2/4;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: end;
}

.player-action-container {
    grid-column: 4/5;
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.player-action-container img {
    width: 50%;
    margin: 2rem;
    background-color: green;
    box-shadow: black 0 0 50px 30px inset;
    border-radius: 30% 30%;
}

.shoot-action-image {
    display: none;
}

.arrow-unit {
    display: inline-block;
}

.view-finder-container p:first-of-type {
    width: fit-content;
    text-align: left;
    border: white solid 2px;    
    background-color: black;
    padding: 0.5rem 2rem;
    margin: -0.5rem -1.3rem;
}

.message-board {
    position: absolute;
    bottom: 0;
    left: 0;
}

.message-board p.game-message {
    padding: 2rem;
}

.clue-display {
    position: absolute;
    top: 0;
    right: -5rem;
    border: white solid 1px;
    background-color: black;
    border-radius: 15px;
    padding: 0.5rem 2rem;
    margin: 1rem 3rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

button {
    width: 15vw;
    padding: 1rem;
    background-color: transparent;
    border-color: green;
    color: yellowgreen;
    margin: 0.5rem;
    transition: box-shadow 0.4s, color 0.2s;
}

button:hover {
    box-shadow: green 0 0px 20px ;
}

button.direction-btn:hover {
    animation: glow 0.8s infinite alternate;
}

button.active-action {
    box-shadow: rgb(0, 198, 0) 0 0 20px 3px;
}

button.preparing-to-shoot {
    box-shadow: green 0 0 20px 3px;
    animation: glow 0.8s infinite alternate
}

button.selected-direction,
button.selected-direction:hover {
    animation: none;
    box-shadow: rgb(0, 198, 0) 0 0 20px 3px;
}

@keyframes glow {
    from {
        box-shadow: green 0 0 10px 0px;
    }

    to {
        box-shadow: rgb(0, 198, 0) 0 0 20px 3px;;
    }
}

/* Screen Behavior */
.header-navigation,
.instructions-screen,
.game-board-screen,
.encounter-screen,
.game-end-screen,
.shoot-arrow-btn {
    display: none;
}

.game-container {
    position: relative;
}

.pop-up {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
}

.static-pattern {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: repeating-linear-gradient(36deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 0px, transparent 2px);
    background-size: 12px;
}

.game-end-screen {
    position: absolute;
    top: 0;
    width: 100%;
}

footer {
    margin-top: 2rem;
}